body {
    margin: 0;
    padding: 7% 15%;
    background-color: #212121;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    font-size: 4rem;
}

div {
    margin: 4%;
    padding: 2%;
    display:flex;
    flex-wrap:wrap;
    
}

a {
    color: lightgrey;
    /* font-family: 'Montserrat', sans-serif; */
    margin: 10px 20px;
    text-decoration: none;
    box-shadow: 0 -1px #30e3cb inset;
    font-size: 2.5rem;
}


a:hover {
    color: #30e3cb;
    

}

.btn {
    background: #212121;
    /* font-family: 'Montserrat', sans-serif; */
    color: #FFFCF9;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 1px solid #30e3cb;
}

.btn:hover {
    background: #30e3cb;
    color: #000;
    text-decoration: none;

}